// Global styling for this template
body {
  font-size: 20px;
  color: $gray-teal;
  @include global-font;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  font-weight: 800;
  @include leading-font;
}

h4,
h5,
h6,
.subheading,
.post-title,
.post-subtitle  {
  @include sub-leading-font;
}

.main-page__title {
  text-align: center;
  a {
    color: inherit;
  }
}

.post-subtitle {
  font-style: italic;
}

a {
  color: $gray-900;
  @include transition-all;
  &:focus,
  &:hover {
    color: $primary;
  }
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.bg-red{
  background-color: $coral;
  color: $white;

  blockquote{
    color: $white;
  }
}

blockquote {
  border-left: 5px solid #eee;
  color: $gray-600;
  font-size: 16px;
  font-style: italic;
  text-align: left;
  padding: 10px 20px;
  margin: 0 0 20px;

}

.gutter {
  padding:50px 0;
}

.btn-outline {
  color: $white;
  border: 1px solid;
  border-color: $white;
  &:hover {
    color: $white;
  }
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 0;
}
.overlay-neighbour {
  z-index: 10;
}